@mixin resetAppearance() {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
}

@mixin btResetAppearance() {
  @include resetAppearance();
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  border-radius: 0;
}

@mixin grid($columns, $occupation, $cg, $rg) {
  display: grid;
  grid-template-columns: repeat($columns, $occupation);
  column-gap: #{$cg}rem;
  row-gap: #{$rg}rem;
  align-items: flex-start;
}
