.mr-big-title {
  font-size: 8.2rem;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;

  @include mq($until: desktop) {
    font-size: 6.4rem;
  }

  @include mq($until: tablet) {
    font-size: 4.2rem;
  }

  @include mq($until: mobile) {
    font-size: 3.2rem;
  }
}
